<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="customized.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    </head>
    <body>
        <div id="app">
          <header>
            <ul class="sidenav sidenav-fixed sidenav-customized">
              <li class="bold" v-for="(item, key) in pages">
                <a :href="item.uri" class="waves-effect waves-light tooltipped" :class="item.external_class" data-position="right" :data-tooltip="item.title"><i class="material-icons">{{ item.icon }}</i></a>
              </li>
            </ul>
          </header>
          <main class="main-customized" ref="main">
            <div class="container">
              <div class="row">
                <div class="col s12">
                  <messages v-for="(msg, index) in msgs" :item="msg" :key="counter" @record="pushMsg"></messages>
                </div>
              </div>
          </main>
          <footer class="page-footer footer-customized white">
            <div class="container white">
              <div class="row">
                <div class="input-field col s12">
                  <input id="curToken" type="hidden" value="">
                  <textarea id="message" class="materialize-textarea" v-model="curMsg"></textarea>
                  <label for="message">Type something...</label>
                  <button id="sendBtn" class="prefix transparent waves-effect waves-light" style="border: none;" v-on:click="sendMsg(curMsg)">
                    <i class="material-icons teal-text">send</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="footer-copyright white black-text">
              <div class="container">© 2020 Quab-087(Steve Lu).All rights reserved</div>
            </div>
          </footer>
          <div id="infoModal" class="modal bottom-sheet">
            <div class="modal-content">
              <section id="conference-timeline">
                <div class="timeline-start">Description</div>
                <div class="conference-center-line"></div>
                <div class="conference-timeline-content">
                  <div class="timeline-article">
                    <div class="content-left-container">
                      <div class="content-left">
                        <p>
                          專題開發了一個基於word2vec模型以及BM25演算法，擁有語意分析能力的chatbot引擎。原先選擇linebot作為前端平台，目前則會以此網頁進行demo。
                          <span class="article-number">01</span>
                        </p>
                      </div>
                    </div>
                    <div class="meta-date">
                      <i class="material-icons date">keyboard_arrow_down</i>
                    </div>
                  </div>
                  <div class="timeline-article">
                    <div class="content-right-container">
                      <div class="content-right">
                        <p>
                          Bot目前擁有如下功能:<br>
                          1.透過自定義的任務模組，透過rulebase判斷語意後執行對應動作<br>
                          2.自學習功能，蒐集關聯性高的標題:回覆組合，並記錄在可客製化的知識庫中，慢慢增強判斷能力
                          <span class="article-number">02</span>
                        </p>
                      </div>
                    </div>
                    <div class="meta-date">
                      <i class="material-icons date">keyboard_arrow_down</i>
                    </div>
                  </div>
                  <div class="timeline-article">
                    <div class="content-left-container">
                      <div class="content-left">
                        <p>
                          可輸入以下句子進行測試:<br><br>
                          1.「顯示使用說明」 - 進行功能介紹<br><br>
                          2.「你能幫我做什麼」 - 語意預測功能，bot會猜測可能的語意，並顯示對應的動作(自學習功能在此demo中未開啟)<br><br>
                          3.「找租金在五千到七千之間的房子」、「找中興大學附近的房子」、「找台中西屯區的房子」 - 調用之前做專題時寫的租屋分類功能，進行多樣化的租屋查詢(此demo僅顯示住址與租金資料)
                          <span class="article-number">03</span>
                        </p>
                      </div>
                    </div>
                    <div class="meta-date">
                      <i class="material-icons date">keyboard_arrow_down</i>
                    </div>
                  </div>
                </div>
                <div class="timeline-end">End</div>
              </section>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            Vue.component('messages', {
              template: `<div>
                <div :class="item.classList">
                  <div v-if="item.type === 'text'">{{ item.body }}</div>
                  <div v-else-if="item.type === 'houses'">
                    <house v-for="(houseItem, index) in item.body" :house-item="houseItem" :counter="index"></house>
                  </div>
                  <div v-else-if="item.type === 'low_sim_record'">
                    <div class="collection">
                      <a v-for="(option, index) in item.body" @click="record(option.title, option.reply, item.record)" class="collection-item">{{ option.reply }}</a>
                    </div>
                  </div>
                  <div v-else-if="item.type === 'high_sim_record'">
                    <div class="collection">
                      <a v-for="(option, index) in item.body" @click="record(option.title, option.reply, item.record)" class="collection-item">{{ option.reply }}(相似度: {{ option.sim }}%)</a>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>`,
              props: ['item'],
              methods: {
                record(title, reply, isRecord) {
                  var msg = [
                    {
                      'classList': {
                        'from-them': true
                      },
                      'body': '好的~目前自學習功能未開啟，請見諒> <"',
                      'type': 'text'
                    }
                  ];
                  this.$emit('record', msg);
                  var flag = this;
                  var token = document.getElementById('curToken').value;
                  var xhr = new XMLHttpRequest();
                  xhr.responseType = 'json';
                  xhr.open('POST', 'https://linebotest.pythonanywhere.com/record/');
                  xhr.onreadystatechange = function() {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                      if (xhr.status == 200) {
                        flag.$parent.sendMsg(reply);
                      }
                    }
                  }
                  xhr.send(JSON.stringify({'title': title, 'reply': reply, 'token': token, 'record': false}));
                }
              }
            });
            Vue.component('house', {
              template: `<div class="carousel-item white-text" :class="getColor">
                <h2>{{ houseItem.name }}</h2>
                <p class="white-text">Rent: {{ houseItem.rent }}</p>
              </div`,
              props: ['houseItem', 'counter'],
              computed: {
                getColor() {
                  var testColors = ['red', 'blue', 'yellow', 'green', 'purple'];
                  return testColors[this.counter];
                }
              }
            });
            new Vue({
              el: '#app',
              data: {
                pages: [
                  {
                    'icon': 'chat',
                    'title': '專題Demo',
                    'uri': '/QA-demo/',
                    'external_class': {}
                  },
                  {
                    'icon': 'bug_report',
                    'title': '測試項目',
                    'uri': '/QA-demo/webtest',
                    'external_class': {}
                  },
                  {
                    'icon': 'info',
                    'title': '專題說明',
                    'uri': '#infoModal',
                    'external_class': {
                      'modal-trigger': true
                    }
                  }
                ],
                curMsg: '',
                msgs: [],
                counter: 0
              },
              mounted: function() {
                this.init();
              },
              updated: function() {
                this.$refs.main.scrollTop = this.$refs.main.scrollHeight;
                var elems = document.querySelectorAll('.carousel');
                M.Carousel.init(elems, {
                  fullWidth: true,
                  indicators: true
                });
              },
              methods: {
                init() {
                  var elems = document.querySelectorAll('.tooltipped');
                  M.Tooltip.init(elems);
                  var elem = document.querySelector('#infoModal');
                  var instance = M.Modal.init(elem);
                  instance.open();
                },
                sendMsg(curMsg) {
                  var sendMsg = {
                    'classList': {
                      'from-me': true
                    },
                    'body': curMsg,
                    'type': 'text'
                  }
                  this.msgs.push(sendMsg);
                  var flag = this;
                  var xhr = new XMLHttpRequest();
                  xhr.responseType = 'json';
                  xhr.open('POST', 'https://linebotest.pythonanywhere.com/chat/');
                  xhr.onreadystatechange = function() {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                      if (xhr.status == 200) {
                        var body = xhr.response;
                        if (body.hasOwnProperty('token')) {
                          document.getElementById('curToken').value = body['token'];
                        }
                        var type = body['type'];
                        if (type === 'houses') {
                            var msg = [
                              {
                                'classList': {
                                  'from-them': true
                                },
                                'body': '以下是匹配到的房屋列表',
                                'type': 'text'
                              },
                              {
                                'classList': {
                                  'carousel': true,
                                  'carousel-slider': true,
                                  'center': true,
                                  'carousel-customized': true
                                },
                                'body': body['resp'],
                                'type': 'houses'
                              }
                            ];
                        }
                        else if (type === 'no_matched_resp') {
                            var msg = [
                              {
                                'classList': {
                                  'from-them': true
                                },
                                'body': '抱歉，我不懂您的意思QQ下方有符合您意圖的選項嗎?',
                                'type': 'text'
                              },
                              {
                                'classList': {
                                  'from-them': true,
                                  'badge-customized': true
                                },
                                'body': body['resp'],
                                'record': body['record'],
                                'type': 'low_sim_record'
                              }
                            ];
                        }
                        else if(type === 'forecast') {
                          var msg = [
                            {
                              'classList': {
                                'from-them': true
                              },
                              'body': '經過系統預測，您的意圖有可能對應到以下功能',
                              'type': 'text'
                            },
                            {
                              'classList': {
                                'from-them': true,
                                'badge-customized': true
                              },
                              'body': body['resp'],
                              'record': true,
                              'type': 'high_sim_record'
                            }
                          ];
                        }
                        else {
                          var msg = [
                            {
                              'classList': {
                              'from-them': true
                            },
                              'body': body['resp'],
                              'type': 'text'
                            }
                          ];
                        }
                        for (var i = 0; i < msg.length; i++) {
                          flag.msgs.push(msg[i]);
                        }
                        flag.counter++;
                      }
                    }
                  }
                  xhr.send(JSON.stringify({'message': curMsg}));
                },
                pushMsg(msg) {
                  for (var i = 0; i < msg.length; i++) {
                    this.msgs.push(msg[i]);
                  }
                  this.counter++;
                }
              }
            });
        </script>
    </body>
  </html>