<!DOCTYPE HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700,300">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="customized.css">
        <script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-firestore.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <div id="app">
            <header>
                <ul class="sidenav sidenav-fixed sidenav-customized">
                    <li class="bold" v-for="(item, key) in pages">
                        <a :href="item.uri" class="waves-effect waves-light tooltipped" :class="item.external_class" data-position="right" :data-tooltip="item.title"><i class="material-icons">{{ item.icon }}</i></a>
                    </li>
                </ul>
            </header>
            <main class="listener" ref="container">
                <div class="container">
                    <suites :tree-data="dataDict" :key="counter"></suites>
                </div>
            </main>
            <footer class="page-footer footer-customized white">
                <div class="container white">
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="input-field col s12">
                                <select v-model="curOption">
                                    <option value="" disabled selected>Choose a demonstration</option>
                                    <option>Demo1 - should return 405 as calling API with unexpected method</option>
                                    <option>Demo2 - should return 403 as calling forecasting API with invalid token</option>
                                    <option>Demo3 - forecasting feature</option>
                                </select>
                                <label>Test cases</label>
                                <div id="progress" class="progress" style="display: none;">
                                    <div class="indeterminate"></div>
                                </div>
                            </div>
                            <button class="prefix transparent waves-effect waves-light" style="border: none;" v-on:click="runTest(curOption)">
                                <i class="material-icons teal-text">send</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright white black-text">
                    <div class="container">© 2020 Quab-087(Steve Lu).All rights reserved</div>
                </div>
            </footer>
            <div id="infoModal" class="modal bottom-sheet">
                <div class="modal-content">
                    <section id="conference-timeline">
                        <div class="timeline-start">Description</div>
                        <div class="conference-center-line"></div>
                        <div class="conference-timeline-content">
                            <div class="timeline-article">
                                <div class="content-left-container">
                                    <div class="content-left">
                                        <p>
                                            About Demo1:<br><br>
                                            Scenario: 當使用非預期calling method時，將返回405<br>
                                            Test plan:<br>
                                            Functional checking.<br>
                                            Use GET method to call https://{domain}/chat/ API with the test message<br>
                                            Expected reuslt:<br>
                                            1) The resp should be 405
                                            <span class="article-number">01</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="meta-date">
                                    <i class="material-icons date">keyboard_arrow_down</i>
                                </div>
                            </div>
                            <div class="timeline-article">
                                <div class="content-right-container">
                                    <div class="content-right">
                                        <p>
                                            About Demo2:<br><br>
                                            Scenario: 當token為非法時，使用預測功能將返回403 forbidden<br>
                                            Test plan:<br>
                                            Prep.<br>
                                            Use POST to call https://{domain}/chat/ API with the test message<br>
                                            Expected result:<br>
                                            1) The resp should be 200 and contains expected properties: {token}, {reply}, {title}, {type}<br>
                                            2) {type} should be "forecast"<br>
                                            3) {token}, {reply}, {title} should not be empty<br><br>
                                            Functional checking.<br>
                                            Use POST to call https://{domain}/record/ API with required data and an invalid token<br>
                                            Expected reuslt:<br>
                                            1) The resp should be 403
                                            <span class="article-number">02</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="meta-date">
                                    <i class="material-icons date">keyboard_arrow_down</i>
                                </div>
                            </div>
                            <div class="timeline-article">
                                <div class="content-left-container">
                                    <div class="content-left">
                                        <p>
                                            About Demo3:<br><br>
                                            Scenario: 這是關於專題預測功能的測試項目<br>
                                            Test plan:<br>
                                            Prep.<br>
                                            Use POST to call https://{domain}/chat/ API with the test message<br>
                                            Expected result:<br>
                                            1) The resp should be 200 and contains expected properties: {token}, {reply}, {title}, {type}<br>
                                            2) {type} should be "forecast"<br>
                                            3) {token}, {reply}, {title} should not be empty<br><br>
                                            Functional checking.<br>
                                            Use POST to call https://{domain}/record/ API with {title}, {reply}, {token} and record=true<br>
                                            Expected reuslt:<br>
                                            1) The resp should be 200<br><br>
                                            Functional checking.<br>
                                            Use POST to call https://{domain}/chat/ API with the test message<br>
                                            Expected result:<br>
                                            1) The resp should be 200 and contains expected message
                                            <span class="article-number">03</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="meta-date">
                                    <i class="material-icons date">keyboard_arrow_down</i>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-end">End</div>
                    </section>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <script>
            Vue.component('suites', {
                template: `<ul id="tree-container" class="pure-tree main-tree">
                    <item :tree="treeData"></item>
                </ul>`,
                props: ['treeData']
            });
            Vue.component('item',{
                template: `<li>
                    <input v-if="Object.keys(tree).length > 0" type="checkbox" :id="tree.attributes.id" :checked="(tree.attributes.status === 'running') || (tree.attributes.status === 'FAIL')">
                    <label v-if="Object.keys(tree).length > 0" :class="tree.attributes.status" :for="tree.attributes.id" :event-type="tree.attributes.type">
                        &emsp;{{ tree.attributes.name }}
                    </label>
                    <p v-if="(Object.keys(tree).length === 1) && (tree.attributes.status === 'FAIL') && (tree.attributes.message !== null)">
                        {{ tree.attributes.message }}
                    </p>
                    <ul v-if="Object.keys(tree).length > 1" class="pure-tree">
                        <item v-for="(item, key, index) in getNode" :tree="item"></item>
                    </ul>
                </li>`,
                props: ['tree'],
                computed: {
                    getNode() {
                        let node = {};
                        for(let i in this.tree) {
                            if(/^\d+$/.test(i)) {
                                node[i] = this.tree[i];
                            }
                        }
                        return node;
                    }
                }
            });
            new Vue({
                el: '#app',
                data: {
                    curOption: '',
                    dataDict: {},
                    counter: 0,
                    pathList: [],
                    status: 'init',
                    pages: [
                        {
                            'icon': 'chat',
                            'title': '專題Demo',
                            'uri': '/QA-demo/',
                            'external_class': {}
                        },
                        {
                            'icon': 'bug_report',
                            'title': '測試項目',
                            'uri': '/QA-demo/webtest',
                            'external_class': {}
                        },
                        {
                            'icon': 'info',
                            'title': '測試說明',
                            'uri': '#infoModal',
                            'external_class': {
                            'modal-trigger': true
                            }
                        }
                    ]
                },
                created: function() {
                    this.init();
                },
                mounted: function() {
                    this.el_init();
                },
                updated: function() {
                    this.$refs.container.scrollTop = this.$refs.container.scrollHeight;
                },
                computed: {
                    watchStatus() {
                        return this.status
                    }
                },
                watch: {
                    watchStatus(newVal) {
                        if (newVal === 'running') {
                            document.getElementById('progress').style.display = 'block';
                        }
                        else if(newVal === 'end') {
                            document.getElementById('progress').style.display = 'none';
                            M.toast({
                                html: '<span style="font-weight: bold;">RF log:</span><a class="btn-flat toast-action" style="font-weight: bold;" href="https://linebotest.pythonanywhere.com/log.html">click here</a>',
                                displayLength: 4000000
                            });
                            M.toast({
                                html: '<span style="font-weight: bold;">Test script:</span><a class="btn-flat toast-action" style="font-weight: bold;" href="https://linebotest.pythonanywhere.com/testScript.robot" download>click here</a>',
                                displayLength: 4000000
                            });
                        }
                    }
                },
                methods: {
                    el_init() {
                        var elems = document.querySelectorAll('.tooltipped');
                        M.Tooltip.init(elems);
                        var elem = document.querySelector('#infoModal');
                        var instance = M.Modal.init(elem);
                        instance.open();
                        var elems = document.querySelectorAll('select');
                        M.FormSelect.init(elems);
                    },
                    init() {
                        var config = {
                            apiKey: "AIzaSyCbaBZ4gRThNi0GJx_NIYNYMSPzAMBOcGQ",
                            authDomain: "listener-8e2cd.firebaseapp.com",
                            projectId: "listener-8e2cd"
                        };
                        firebase.initializeApp(config);
                        var db = firebase.firestore();
                        db.collection("dataCollection").doc("data")
                            .onSnapshot(this.received);
                    },
                    received(evt) {
                        if(this.status === 'init') {
                            this.status = 'start';
                            return;
                        }
                        const data = JSON.parse(evt.data()['curVal']);
                        if ('path' in data) {
                            const attributes = {
                                'name': data['name'],
                                'type': data['type'],
                                'id': data['path'].length > 0 ? data['path'] : 'root',
                                'status': 'running',
                                'message': null
                            }
                            const path = data['path'].length > 0 ? data['path'] + '.attributes' : data['path'] + 'attributes';
                            this.setVal(this.dataDict, path, attributes);
                            this.pathList.push(data['path']);
                        }
                        else {
                            let obj = this.getVal(this.dataDict, this.pathList.pop());
                            if(obj) {
                                obj['attributes']['message'] = data['message'];
                                obj['attributes']['status'] = data['status'];
                            }
                            else {
                                this.dataDict['attributes']['message'] = data['message'];
                                this.dataDict['attributes']['status'] = data['status'];
                                this.status = 'end';
                            }
                        }
                        this.counter++;
                    },
                    setVal(obj, path, val) {
                        const pArray = path.split('.');
                        const len = pArray.length;
                        for(let i = 0; i < len - 1; i++) {
                            const el = pArray[i];
                            if(!obj[el]) {
                                obj[el] = {}
                            }
                            obj = obj[el]
                        }
                        obj[pArray[len-1]] = val;
                    },
                    getVal(obj, path) {
                        for(let i = 0, pArray = path.split('.'), len = pArray.length; i < len; i++) {
                            obj = obj[pArray[i]];
                        }
                        return obj;
                    },
                    runTest(option) {
                        if (this.status === 'running') {
                            M.toast({html: '請先等待本次測試完成'});
                            return;
                        }
                        M.Toast.dismissAll();
                        this.status = 'running';
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', 'https://linebotest.pythonanywhere.com/test/');
                        xhr.send(JSON.stringify({'case': option}));
                    }
                }
            });
        </script>
    </body>
</html>